/*Contenido de HTML*/

*   {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: rgb(10, 10, 10);
    }

    /*Logo, haciendo click te lleva al inicio desde la sección que estes-*/

.logo{
    text-decoration: none;
    font-size: 48px;
    padding: 5px;
    margin: 5px;
}

/*secciones*/
.header{
    display: flex;
    width: 100%;
    padding: 2rem;
    font-size: 1.6rem;
    position: sticky;
}
nav{
    width: 80%;
}
.navBar{
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;
    font-size: 1rem;
}
.navBar li{
    list-style: none;
}
.navBar li a{
    text-decoration: none;
    float:right;
}
.cont img img{
    max-width: 100%;
}
h1{
    color: black;
    font-weight: 3rem;
}

/*Imagen de fondo*/

body{
    background-image: url(../css/imagenes/fondo\ de\ pagina.jpg);
    background-position: bottom;
    background-repeat:no-repeat;
    background-size:cover;    
    background-attachment: fixed;
    margin: 100%;
    line-height: 1,5em;
}

/*Título*/

h1{
    width: 1400px;
    padding: 2rem;
    padding-top: auto;
    margin: 20px;
    margin-right: 3rem;
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    border: 10px;
    border-color: rgb(10, 0, 0);
    letter-spacing: 5px;
}

h2{
    width: 1400px;
    padding: 2rem;
    padding-top: 0rem;
    margin: 20px;
    margin-right: 3rem;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}

/*texto de cada planta*/

p{
    width: 400px;
    padding-top: 10px;
    margin: 20px;
    padding: 10px;
    margin-right: auto;
    font-family:system-ui, apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-size:15px;
    letter-spacing: normal;
    word-spacing:normal ;
    line-height: 20px;
    text-align: center ;
}

/*imágenes principales*/

.center{
    display: flex;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0,5rem;
    margin-right: 1rem;
}

/*texto-introducción*/

.introducción-flex{
    display: flex;
    text-align: center;
    font-size: large;
}

/*todas las imágenes*/

img{
    max-width: 300px;
    max-height: 300px;
    border-radius: 1rem;
}


/*formulario*/

.formulario{
    display: flex;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    background: var(coral);
    box-shadow: none;
    border-radius: 2em;
}

form{
    width: 800px;
    background-color: rgb(245, 187, 187);
    padding: 40px;
    border-radius: 50px 100px;
}

.form-label{
    margin: 12px;
    font-size: 22px;
    padding: 5px;
    text-transform:lowercase;
    color: brown;
    display:inline-block;
    flex-direction: column;
}

.form-input{
    width: 100px;
    height: 60px;
    text-align: center;
    border-radius: 6px;
    border: none;
    font-size: 15px;
    display:inline-block;
    flex-direction: column;
}

.form-textarea{
width: 150px;
height: 150px;
border-radius: 4px;
font-size: 20px;
text-align: center;
vertical-align: center;
}

.form-enviar{
    width: auto;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-size: 30px;
    color-scheme: rgb(225, 70, 14);
    border: none;
}

.form-enviar:hover{
    background-color: rgb(242, 178, 93);
    transition: 0.3s;

}
iframe {
    width: 800px;
    height: 400px;
    display:flex;
    margin-top: 100px;
}

/*Preguntas Frecuentes*/

.faq {
    list-style: none;
    display: inline;
    margin: 10px;
    padding: 5px;
    float: right;
}

/*Footer*/

footer{
    margin: 30px;
    padding: 20px;
    text-align:unset;
    display: inline;
    font-size: large;
}

#rrss{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0,3em;
}

.copyrigth{
    text-align: center;
}

/*flexbox*/

.flex-container{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 10px;
    width: 80%;
    margin: auto;
    border: 4px; 
    border-color: rgb(220, 22, 22);
    justify-items: stretch;
    align-items: stretch;
}
/*grid implementado en la sección Nosotros*/

.container-grid{
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: (3em,24em,16em,5em);
    grid-template-areas: 
    "header header header"
    "main main aside"
    "section none aside"
    "footer footer footer";
}

.header-grid{
    grid-area: header;
    grid-column: 1/4;
    grid-row: 1/2
}

.main-grid{
    grid-area: main;
    grid-column: 2/4;
    grid-row: 2/4;
}
.section-grid{
    grid-area: section;
    grid-column: 2/3;
    grid-row: 4/5;
}
.aside-grid{
    grid-area: aside;
    grid-column: 3/4;
    grid-row: 5/6;
}
.footer-grid{
    grid-area: footer;
    grid-column: 1/5;
    grid-row: 5/6;
}

/*tablet*/

@media screen and (max-width: 768px){
    .container-grid{
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
            "header header"
            "main main"
            "seccion aside"
            "footer footer";
    }
}

/*Mobile*/

@media  screen and (max-width: 576px){
    .container-grid{
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "main"
        "seccion"
        "aside"
        "footer";
    }
}
