$background-header: burlywood;
$background-main: rgba(255, 127, 80, 0.57);
$background-aside: rgba(255, 127, 80, 0.57);
$background-section: rgba(255, 127, 80, 0.57);
$background-footer: burlywood;