main{
    background-color: rgba(255, 127, 80, 0.651);
    
    .container-grid { 
        display: grid;
        height: 100vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 3em, 24em, 16em, 5em;
        grid-template-areas: "header header header"
        "main main aside"
        "section none aside"
        "footer footer footer"; }
        .container-grid .header-grid {
        grid-area: header;
        grid-column: 1/4;
        grid-row: 1/2; }
        .container-grid .header-grid .main-grid {
            grid-area: main;
            grid-column: 2/4;
            grid-row: 2/4; }
            .container-grid .header-grid .main-grid .section-grid {
                grid-area: section;
                grid-column: 2/3;
                grid-row: 4/5; }
                    .container-grid .header-grid .main-grid .section-grid .aside-grid {
                        grid-area: aside;
                        grid-column: 3/4;
                        grid-row: 5/6; }
                            .container-grid .header-grid .main-grid .section-grid .aside-grid .footer-grid {
                                grid-area: footer;
                                grid-column: 1/5;
                                grid-row: 5/6; }
}
