    .faq{
    background-color: rgba(255, 127, 80, 0.651);
    width: 100%;
    font-size: larger;
    font-style: normal;
    margin: 0px;
    text-decoration: dotted;
    list-style: none;
    display:inline;
    padding: 5px;
    float: right; 
}
